.actions-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.actions-bar__counter-text{
	margin: 10px;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.actions-bar-filters{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.actions-bar__clearall-button{
	font-family: Roboto, sans-serif;
	margin: 10px;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	padding: 6px;

	border: none;
	background: #FFFFFF;
	color: #888888;
}
