$clear-white: #FFFFFF;
$border-white: #E6E6E6;
$text-task: #666666;
$actions-border-second: #F2F2F2;
$text-grey: #888888;
$text-light-grey: #CCCCCC;
$checkbox-green: #5DC2AF;

$box-shadow: rgba(0, 0, 0, 0.2);

$font-weight: 300;
$font-weight-header: 200;
$font-size: 14px;
$font-size-header: 100px;
$font-size-table: 24px;

$width: 560px;

$image-margin: 10px;
$image-select-all-url: url("../icons/select-all.svg");
$image-task-button-url: url("../icons/close.svg");
$image-done-task-button-url: url("../icons/completed.svg");