@import "vars";
@import "mixins";
.actions-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
    @include box-shadow($border-white);
}

.actions-bar__counter-text{
	margin: 10px;
	color: $text-grey;
	font-style: normal;
	font-weight: $font-weight;
	font-size: $font-size;
	display: flex;
	align-items: center;
}
.actions-bar-filters{
	display: flex;
	justify-content: center;
	align-items: center;
}

.actions-bar__clear-all-button{
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: $font-weight;
	font-size: $font-size;
	padding: 6px;

	border: none;
	background: $clear-white;
	color: $text-grey;
}
