@import "vars";
@import "mixins";
.todo-task {
    display: flex;
    align-items: center;
    min-height: 62px;
    box-sizing: border-box;
    @include box-shadow($border-white)
}

.todo-task__checkbox {
    position: absolute;
    opacity: 0;
    margin: 10px;
    width: 40px;
    height: 40px;
}

.todo-task__button {
    @include image($image-task-button-url, 20px);
	border: none;
	flex-shrink: 1;
	opacity: 0;
}

.todo-task__check {
    display: flex;
    width: 40px;
    height: 40px;
    background: $clear-white;
    border: 1px solid $border-white;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 10px;
}

.todo-task__text {
    padding: 10px;
    width: 440px;
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size-table;
    display: flex;
    align-items: center;
    word-break: break-all;
    color: $text-task;
}

.todo-task:hover
.todo-task__button,
.todo-task__button:focus {
	opacity: 1;
}

.todo-task__checkbox:checked +
.todo-task__check,
.todo-task__checkbox:checked:hover +
.todo-task__check,
.todo-task__checkbox:checked:focus +
.todo-task__check{
    @include image($image-done-task-button-url,40px);
    border: 1px solid #5DC2AF;
}

.todo-task__checkbox:checked ~
.todo-task__text {
    text-decoration-line: line-through;
    color: $text-light-grey;
}

.todo-task:hover {
    background: $actions-border-second;
}

.todo-task__checkbox:hover +
.todo-task__check,
.todo-task__checkbox:focus +
.todo-task__check {
    background: $clear-white;
    border: 1px solid $text-light-grey;
    box-sizing: border-box;
}
