@import "vars";
@import "mixins";
.todo-table {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: $width;
    @include box-shadow($box-shadow);

}

.todo-table__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    min-height: 300px;
    @include box-shadow($border-white);
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #E6E6E6;
}

.todo-table::after {
    position: absolute;
    top: 100%;
    left: 0.5%;
    content: "";
    height: 5px;
    width: 99%;
    margin: 0 auto;
    @include box-extra-shadow;
}

.todo-table::before {
    position: absolute;
    top: calc(100% + 5px);
    left: 1%;
    content: "";
    height: 5px;
    width: 98%;
    margin: 0 auto;
    @include box-extra-shadow;
}
