@import "vars";
@import "mixins";
.todo-table-header{
	display: flex;
	align-items: center;
	box-sizing: border-box;
	min-height: 62px;
	@include box-shadow($border-white);

}

.todo-table-header__button{
	@include image($image-select-all-url,40px);
	border: none;
}

.todo-table-header__text{
	font-family: Roboto, sans-serif;
	font-style: italic;
	color: $text-light-grey;
	width: 100%;
	padding: 10px;
	font-weight: $font-weight;
	font-size: $font-size-table;

	display: flex;
	align-items: center;

	border: none;
}

.todo-table-header__text::placeholder{
    color: $text-light-grey;
}