@import "vars";
body,
html {
	font-family: Roboto, sans-serif;
	line-height: 21px;
	margin: 0;
	padding: 0;
	background-color: $actions-border-second;
}

.todo-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.todo-header__text{
	font-style: normal;
	font-weight: $font-weight-header;
	font-size: $font-size-header;
	color: $text-light-grey;
}
